/*
BEST PRACTICES
- use sementic elements
- Use Shorthand Hexadecimal Color Values
- Group & Align Vendor Prefixes
*/

/* CSS Document */
/*  -------------------------------------
STYLE GUIDE/Reference
----------------------------------------
- use rems for font sizes
- 12 column grid
- numbers in classes always in words

Thin = 100
Extra-Light = 200
Light = 300
Regular = 400
Medium = 500
Semi-Bold = 600
Extra-Bold = 800
Black = 900
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Typography
  1.1 - Headings
  1.2 - Body Copy
  1.3 - Buttons
  1.4 - Forms
  1.5 - Lists
2.0 - Navigation Menus
  2.1 - Main Menu
  2.2 - Sub Menu
  2.3 - Footer Menu
3.0 - Content
  3.1 - Site Structure (Site Header, Advertisement, Site Footer)
  3.2 - Tables
  3.3 - Section Name
4.0 - Media
5.0 - Utility
5.1 - Background Colors
  5.2 - Text Colors
  5.3 - Text Sizes
  5.4 - Alignments
6.0 - Misc Junk 
7.0 - Media query
--------------------------------------------------------------*/

/*--------------------------------------------------------------
0.0 - Target All/General Styls
-------------------------------------------------------------- */

/*--------------------------------------------------------------
1.0 - TYPOGRAPHY
-------------------------------------------------------------- */
/*1.1 - Headings */
h2, h3 {
  text-align: center;
  background-color: black;
  width: 90%;
  height: 85%;
}

/* 1.2 - Body Copy */
body {
	font-family: 'Raleway', sans-serif;
	font-size: 10px; 
	padding: 20px;
	background-color: #f0f0f0;
	justify-content: space-between;
  height: 100vh;
}


/* 1.3 - Buttons */
/* 1.4 - Forms */
/* 1.5 - Lists */

/*--------------------------------------------------------------
2.0 - Navigation Menus
-------------------------------------------------------------- */
nav {
  height: 90vh;
  min-width: 140px;
/*  position: fixed;*/
  margin-right: 20px;

  flex-direction: column;
  justify-content: space-between;
}

h1 img {
  width: 75px;
}

h1 {
  height: 30%;
}

/* 3.1 - Main Menu */
.main-menu {
  height: 50%;
}

/* 3.2 - Sub Menu */

/* 3.3 - Footer Menu */
footer ul {
  height: 20%;
  flex-direction: column;
  justify-content: space-around;
}
/*flex isn't working on footer ul*/
footer li {
  padding: 5px 0;
}
/*--------------------------------------------------------------
3.0 - Content
-------------------------------------------------------------- */
/* 3.1 - Structure (Widths) */

.col-1-2 {
  width: 50%;
}

.col-1-3 {
  width: 33%;
}

.col-1-4 {
  width: 25%;
}

.col-1-5 {
  width: 20%;
}

.col-1-6 {
  width: 16%;
}

.col-1-8 {
  width: 12.5%;
}

.col-2-3 {
  width: 66%;
}

.col-3-4 {
  width: 75%;
}

.col-3-5 {
  width: 60%;
}

.col-4-5 {
  width: 80%;
}

.col-5-6 {
  width: 84%;
}

.col-7-8 {
  width: 87.5%;
}

.header-lg {
  height: 18vh;
  justify-content: space-between
}

.header-lg>div:first-child {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.sub-section {
  margin-top: 20px;
}



/* 3.3 - Section Name */
/*--------------------------------------------------------------
4.0 - Media
-------------------------------------------------------------- */



/*--------------------------------------------------------------
5.0 - Utility
-------------------------------------------------------------- */
/* 5.1 - Background Colors */
.main-nav, header p {
  background-color: grey; /*change to speckled pattern later*/
}
.header-lg>div:first-child {
  background-color: orange;
}


/* 5.2 - Text Colors */
/* 5.3 - Text Sizes */
/* 5.4 - Alignments */
.flex-parent {
  display: flex;
}
/* 5.5 - Borders */
.main-border {
	border-color: #383838;
	border-style: solid;
	border-width: 3px 8px;

  background-color: #f0f0f0;

}

.border-right-3 {
  border-right-style: solid;
  border-right-width: 3px;
  border-right-color: #383838;
}
/*--------------------------------------------------------------
6.0 - Misc Junk here
-------------------------------------------------------------- */

/*--------------------------------------------------------------
7.0 media query
-------------------------------------------------------------- */

@media only screen  
    and (max-device-width : 480px) {
    /* Mobile Styles */
    }

    @media only screen  
    and (max-device-width : 768px) {
    /* Tablet Styles */
    }