/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Typography
  1.1 - Headings
  1.2 - Body Copy
  1.3 - Buttons
  1.4 - Lists
2.0 - Navigation Menus
  2.1 - Main Menu
  2.2 - Sub Menu
3.0 - Content/Structure
  3.1 - Site Structure
  3.2 - Alignments
4.0 - Media
5.1 - Background, Animations, Borders, Etc.
6.0 - Tablet Media Query
7.0 - Mobile Media Query
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 - TYPOGRAPHY
-------------------------------------------------------------- */
html {
  font-size: 1vw; 
  color: #383838;
}

/*1.1 - Headings */
h2, h3 {
  text-align: center;
}

.header-cell {
  padding: 4px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  color: #f0f0f0;
  padding: 5px;
 }

#home h2 {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: block;
  text-align: left;
 }
.sub-section header .col-1-8 {
  padding: 4px;
}

.sub-section header .col-1-8 p {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #f0f0f0;
  padding: 4px;
}

h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.15rem;
/*  font-size: 1.15vw;*/
  text-transform: uppercase;
  font-weight: 700;
}

#home h2 {
    margin-top: 35px;
}
.italic-cell {
  font-style: italic;
  font-weight: 300;
  font-family: 'Merriweather', serif;
  font-size: 1.4rem;
  letter-spacing: -.5px;
  padding: 5px;;
  text-align: center;
}


/* 1.2 - Body Copy */
body {
  font-family: 'Raleway', sans-serif;
}

.sub-section section p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.15;
}

#salad span {
  text-align: right;
  padding-right: 8px;
}

#home p {
  font-family: 'Raleway', sans-serif;
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 1.5;
  margin-top: 20px;
}

.contact p {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}


/* 1.3 - Buttons */
a {
  text-decoration: none;
  color: inherit;
}
.btn {
  display: inline-block;
  padding: 3.5% 9%;
  margin-top: 45px;
  font-family: 'roboto slab', monospace;
  font-size: 1.85rem;
  font-weight: 400;
  background: url(../img/speckles.png) center repeat;
  text-transform: capitalize;
}

.btn:hover {
  background: #383838;
  color: #f0f0f0;
}
#home p>a {
  border-bottom: 3px solid orange;
}
#home p>a:hover {
  border-bottom-color: #383838;
}
/* 1.4 - Lists */
.item-prices, .hours ol, #salad span {
  font-family: 'montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.25px;
}
.sub-section header ol {
  padding: 0;
}
.sub-section header ol ol {
  padding: 5px;
}
.header-list {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
.sub-section header ol ol li:last-child, #bread .header-list, .potato-international .header-list {
  font-weight: 700;
}
section ol li {
  text-align: center;
}
.header-list>li, .potato-international .header-list {
    border-right: 1px solid #383838;
    flex-basis: 25%;
}
.header-list>li:last-of-type {
  border-right: none;
}
#bread .header-list li {
  flex-basis: 50%;
}


/*--------------------------------------------------------------
2.0 - Navigation Menus
-------------------------------------------------------------- */
nav {
  width: 90vw;
  position: fixed;
  margin: 0;
  padding: 0;
  font-family: 'roboto slab', monospace;
  font-size: 1.85rem;
  text-transform: capitalize;
  z-index: 1000;
}

.sub-menu {
  font-size: 1.4rem;
}

.container {
  flex: 1 1 90%;
}

nav ul {
  padding: 0;
  margin: 0;
  flex: 1 1 auto;
  flex-wrap: wrap;
}

nav li {
  list-style-type: none;
  text-align: center;
  flex: 1 0 auto;
}


.logo {
  flex: 1 1 10%;
}
.logo img {
  max-height: 75px;
}

nav .logo a {
  padding: 8px;
}
nav a {
  padding: 10px 0;
}
nav a:hover {
  color: #f0f0f0;
}
/* 3.1 - Main Menu */
.main-menu {
  flex: 1 1 auto;
  height: 55%;
}
.main-menu li {
  flex-basis: 33.33%;
}
#arrow {
  width: 20px;
  height: 20px;
  margin-left: 40px;
  background: url(../img/arrow.png) center no-repeat;
  background-size: contain;
}
#arrow:hover {
  background: url(../img/arrow-black.png) center no-repeat;
  background-size: contain; 
}
.animate {
  transform: rotate(180deg);
}


/*--------------------------------------------------------------
3.0 - Content
-------------------------------------------------------------- */
/* 3.1 - Structure (Widths) */
main>section {
  padding-top: 100px;
}
main {
  width: 90vw;
}
.sub-section {
  margin-top: 20px;
}
.sub-section section {
  padding: 10px;
}
.col-1-1, h3, .sub-section header .col-1-8 p, nav a {
  width: 100%;
}
.col-1-2 {
  width: 50%;
}
.col-1-3 {
  width: 33.33%;
}
.col-1-4 {
  width: 25%;
}
.col-1-5 {
  width: 20%;
}
.col-1-6 {
  width: 16%;
}
.col-1-8 {
  width: 12.5%;
}
.col-2-3 {
  width: 66.66%;
}
.col-2-5 {
  width: 40%;  
}
.col-3-4 {
  width: 75%;
}
.col-3-5 {
  width: 60%;
}
.col-4-5 {
  width: 80%;
}
.col-5-6 {
  width: 84%;
}
.col-7-8 {
  width: 87.5%;
}
header .col-1-8 {
  padding: 0 10px;
}
.content-wrapper {
  margin-bottom: 20px;
}
.content-wrapper > .col-1-2 {
  width: 49%;
}
.hours.sub-section section, .picnicker.sub-section section {
  padding: 15px 10px;
}
#home {
  margin-top: 20px;
}
#home>.content-wrapper {
  padding: 3%;
}
#home .col-1-2 {
  width: 46%;
}
.gluten-free {
  padding: 6px 10px;
}
 nav a, h3, .sub-section header .col-1-8 p, .potato-specialties, .content-wrapper > .col-1-2 {
  height: 100%;
}

/* 3.2 - Alignments */
.flex-parent, .sub-menu, nav a, nav .logo a, nav li, .header-list>li, .potato-international .header-list, .italic-cell, .sub-section header .col-1-8, h3 {
  display: flex;
}
.mobile-toggle, .drop-down, h2 {
  display: none;
}
.align-items-center, body, .header-cell, h3, .sub-section header .col-1-8, .italic-cell, .contact section a, .header-list>li, .potato-international .header-list, nav li, nav a  {
  align-items: center;
}
.flex-end, .pizza-specialties .header-list>li {
  align-items: flex-end;
}
.space-between, body, .content-wrapper, .hours.sub-section, .pizza-specials section, .kids-pizza-specials section, .kids-potato-specials section {
  justify-content: space-between;
}
nav ul, .sub-section ol {
  justify-content: space-around;
}
nav a, nav li, .header-cell, h3, .sub-section header .col-1-8, .italic-cell, .header-list>li, .potato-international .header-list {
  justify-content: center;
}
.container, body, #potato .content-wrapper .col-1-2, .contact>div.flex-parent {
  flex-direction: column;
}
body {
  position: relative;
}


/*--------------------------------------------------------------
4.0 - Media
-------------------------------------------------------------- */
.pizza-specials .col-1-6, .kids-pizza-specials .col-1-6, .potato-specials .col-1-6, .kids-pizza-specialties .col-1-8 {
  align-items: center;
  justify-content: center;
}
.potato-specials .col-1-6 {
  padding: 5px;
}
.pizza-specials .col-1-6 img, .kids-pizza-specials .col-1-6 img {
  width: 100%;
  max-width: 57px;
  z-index: 1;
}
.pizza-specialties img {
  width: 15px;
}
.salad-img, .potato-img {
  width: 40%;
}
.potato-specials img {
  width: 70%;
  max-width: 90px;
  min-width: 20px;
}
.kids-pizza-specialties img {
  width: 100%;
  max-width: 29px;
}
.contact a>div {
  background-image: url(../img/map-lg.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 200px;
}
.contact a img {
  margin-right: 15px;
  max-width: 25px;
  width: 2vw;
}


/*--------------------------------------------------------------
5.0 - Misc
-------------------------------------------------------------- */
/* 5.1 - Background Colors */
body, .main-border, .main-menu, .sub-menu, .mobile-toggle {
  background-color: #f0f0f0;
}
.sub-section header .col-1-8 p, h3, nav a:hover {
  background-color: #383838;
  color: #f0f0f0;
}
.gluten-free, .active {
  background-color: orange;
}
body {
  background-image: url(../img/dots.png) repeat;
  background-size: 15px;
}
.logo, .sub-section header .col-1-8, .italic-cell, header ol, .sub-menu li {
  background: url(../img/speckles.png) repeat;
  background-size: 15px;
}
.pizza-international header .col-1-8, .sub-section.gluten-free header ol.col-1-8, .kids-international header .col-1-8 {
  background-image: none;
  padding: 4px;
}

/* 5.5 - Borders */
.main-border {
  border: 5px solid #383838;
}
.btn, .container, .logo {
  border: 3px solid #383838;
}
.sub-menu {
  border-top: 3px solid #383838;
}
.border-right-3 {
  border-right: 3px solid #383838;
}
.sub-menu li {
  border-right: 1px solid #383838;
}
.border-bottom-3 {
  border-bottom: 3px solid #383838;
}
.sub-section section {
  border-bottom: 1px solid #383838;
}
.sub-section section:last-of-type {
  border-bottom: none;
}
.sub-menu li:last-of-type, .logo {
  border-right: none;
}


/*--------------------------------------------------------------
6.0 - Misc Junk here
-------------------------------------------------------------- */
.hide {
  display: none;
  transition: all 0.5s ease-in-out;
  animation: bkgchange 2s;
}
@keyframes bkgchange {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.bounce {
  animation: bounce 3s linear infinite;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  30% {
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  80% {
    -moz-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
  }
}
.rotating {
    animation: rotating 35s linear infinite;
    transform-origin: 49% 50%;
}
@keyframes rotating {
  from{
      transform: rotate(0deg);
  }
  to{
      transform: rotate(360deg);
  }
}


/*--------------------------------------------------------------
7.0 TABLET STYLES
----------------------------------------------------------------
7.1 - Tablet Typography
7.2 - Tablet Navigation Menus
  7.2.1 - Main Menu
  7.2.2 - Sub Menu
7.3 - Tablet Structure
  --------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  /*--------------------------------------------------------------
  7.1 - Tablet Typography
  -------------------------------------------------------------- */
  html {
    font-size: 2vw;
  }
  #home h2 { 
    font-size: 3rem;
  }
  #home p {
    font-size: 1.75rem;
  }
  #home .sub-section:last-of-type p {
    margin-top: 40px;
  }
  .btn {
    font-size: 1.35rem;
    padding: 1.75% 3.5%;
    margin-top: 15px;
  }
  h3 {
    font-size: 2vh;
  }
  .header-cell h3, .italic-cell {
    padding-left: 10px;
  }
  .italic-cell {
    text-align: left;
  }
  .h3, .italic-cell, #home h2 {
    justify-content: flex-start;
  }


  /*--------------------------------------------------------------
  7.2 - Tablet Navigation
  -------------------------------------------------------------- */
  nav {
   width: 90vw;
   font-size: 1.35rem;
  }
  .sub-menu {
    font-size: 1rem;
  }
  .logo img {
    max-height: 55px;
  }
  .logo, .container {
    height: 65px;
  }


  /*--------------------------------------------------------------
  7.3 - Tablet Structure
  -------------------------------------------------------------- */
  .header-lg {
    height: 10vh;
  }
  .sub-section.col-1-2, .content-wrapper>.col-1-2, #home .content-wrapper .col-1-2 {
    width: 100%;
  }
  .content-wrapper {
    display: block;
  }
  main {
    width: 90vw;
  }
  main>section {
    padding-top: 65px;
  }
}/* end tablet media query */


/*--------------------------------------------------------------
8.0 MOBILE STYLES
----------------------------------------------------------------
8.1 - Mobile Typography
8.2 - Mobile Navigation Menus
  8.2.1 - Main Menu
  8.2.2 - Sub Menu
8.3 - Mobile Structure
  --------------------------------------------------------------*/
@media screen and (max-width: 480px) {
  /*--------------------------------------------------------------
  8.1 - Mobile Typography
  -------------------------------------------------------------- */
  html {
    font-size: 2.5vw;
  }
  #home h2 {
    font-size: 4.25rem;
  }
  #home p {
    margin-top: 30px;
    font-size: 2rem;
  }
  #home p:last-of-type {
    margin-top: 45px;
  }
  .btn {
    margin-top: 15px;
    padding: 2% 6%;
    font-size: 1.75rem;
  }


  /*--------------------------------------------------------------
  8.2 - Mobile Navigation
  -------------------------------------------------------------- */
  .main-menu, .sub-menu, .mobile-toggle {
    border: 3px solid #383838;
  }
  .logo {
    flex: 1 1 15%;
  }
  .logo img {
    max-height: 52px;
  }
  .container.flex-parent {
    display: inline-block;
  }
  .container {
    border: none;
    flex: 1 1 85%;
  }
  .main-menu {
    height: 100%;
    font-size: 1.75rem;
  }
  .sub-menu {
    border-top: none;
    margin-left: 0;
    padding-left: 0;
    font-size: 1.45rem;
    display: none;
  }
  .sub-menu li {
    border-bottom: 1px solid #383838;
    border-right: 0;
  }
  .sub-menu li:last-of-type {
    border-bottom: 0;
  }
  .drop-down {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 33.33%; 
  }
  #arrow {
    margin-left: 10px;
    width: 16px;
  }


  /*--------------------------------------------------------------
  8.3 - Mobile Structure
  -------------------------------------------------------------- */
  main>section {
    padding-top: 65px;
  }
  #home .col-1-2 {
      width: 93%;
  }
  .col-1-2 {
    width: 100%;
  }
  .mobile-toggle {
    display: flex;
    padding: 10px;
    color: #383838;
  }
  .mobile-toggle img {
    width: 18px;
    height: 10px;
  }
}/* end mobile media query */